body {
  height: 100%;
  background-color: #C594C5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(173, 216, 230, 0.4), rgba(221, 160, 221, 0.4)), url("https://i.imgsafe.org/1fee5c9.jpg");
}
